header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f5f5f5;
}

nav {
    width: 100%;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: black;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover {
    color: #007BFF;
}

#banner {
    background-image: url("./banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 550px;
}
